<%- include("./layout/header",{categories:data?.categories}) %>
<div class="page-body">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>S.S.S</h5>
          <hr />
          <a href="/admin/sss/sssAdd">
            <button class="btn btn-success">
              <i class="icofont icofont-check-circled"></i> S.S.S Ekle
            </button></a
          >
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li><i class="icofont icofont-simple-left"></i></li>
              <li><i class="icofont icofont-maximize full-card"></i></li>
              <li><i class="icofont icofont-minus minimize-card"></i></li>
              <li><i class="icofont icofont-refresh reload-card"></i></li>
              <li><i class="icofont icofont-error close-card"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-block table-border-style">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Soru</th>
                  <th>Cevap</th>
                  <th>Sil</th>
                </tr>
              </thead>
              <tbody>
                <% data.sss.forEach(element=> { %>
                <tr>
                  <td><%- element.question %></td>
                  <td style="max-width: 200px; overflow: auto">
                    <%- element.answer %>
                  </td>
                  <td>
                    <a href="/admin/sss/delete/<%- element.id %>">
                      <button class="btn btn-danger">
                        <i class="icofont icofont-eye-alt"></i>
                      </button>
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./layout/footer") %>
